{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Challenge Modes{% endblock %}

{% block body %}
    <h1>Challenge Modes</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Easy</th>
            <th>Normal</th>
            <th>Hard</th>
        </tr>
        </thead>
        <tbody>
        {% for challengeMode in challengeModes %}
            {% set userChallengeMode = userChallengeModeMap[challengeMode.id] ?? null %}
            <tr class="challenge-mode-row"
                data-id="{{ challengeMode.id }}"
                data-name="{{ challengeMode.name }}"
                data-difficulty="{{ challengeMode.difficulty }}"
                data-waves="{{ challengeMode.waves }}"
                data-level-restriction="{{ challengeMode.levelRestriction }}">
                <td>{{ challengeMode.name }}</td>
                <td>{{ challengeMode.difficulty }}</td>
                {% set attributes = ['easy', 'normal', 'hard'] %}
                {% for attribute in attributes %}
                    <td>
                        <input type="checkbox"
                               class="challenge-mode-checkbox"
                               data-attribute="{{ attribute }}"
                               data-id="{{ challengeMode.id }}"
                                {% if attribute == 'easy' and userChallengeMode.isEasy %}
                                    checked
                                {% elseif attribute == 'normal' and userChallengeMode.isNormal %}
                                    checked
                                {% elseif attribute == 'hard' and userChallengeMode.isHard %}
                                    checked
                                {% endif %}
                        >
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed challenge mode info -->
    <div id="challenge-mode-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="challenge-mode-name"></h2>
        <p><strong>Difficulty:</strong> <span id="challenge-mode-difficulty"></span></p>
        <p><strong>Waves:</strong> <span id="challenge-mode-waves"></span></p>
        <p><strong>Level Restriction:</strong> <span id="challenge-mode-levelRestriction"></span></p>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        const csrfToken = '{{ csrf_token('update_challenge_status') }}'; // Generate the CSRF token for the update_character_status route
    </script>
    <script src="{{ asset('js/challenge_mode.js') }}"></script>
{% endblock %}
