{% extends 'base.html.twig' %}

{% block title %}XC3 Checklist - Quests{% endblock %}

{% block body %}
    <h1>Quests</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Region</th>
            <th>Checked</th>
        </tr>
        </thead>
        <tbody>
        {% for quest in quests %}
            {% set userQuest = userQuestMap[quest.id] ?? null %}
            <tr class="quest-row"
                data-id="{{ quest.id }}"
                data-name="{{ quest.name }}"
                data-type="{{ quest.type }}"
                data-level="{{ quest.level }}"
                data-summary="{{ quest.summary }}"
                data-giver="{{ quest.giver }}"
                data-prerequisites="{{ quest.prerequisites }}"
                data-rewards="{{ quest.rewards }}"
                data-chapter="{{ quest.chapter }}"
                data-region="{{ quest.region.name }}">
                <td>{{ quest.name }}</td>
                <td>{{ quest.type }}</td>
                <td>{{ quest.region.name }}</td>
                <td>
                    <input type="checkbox"
                           class="quest-checkbox"
                           data-id="{{ quest.id }}"
                            {% if userQuest and userQuest.isChecked %}
                                checked
                            {% endif %}
                    >
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed quest info -->
    <div id="quest-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="quest-name"></h2>
        <p><strong>Region:</strong> <span id="quest-region"></span></p>
        <p><strong>Type:</strong> <span id="quest-type"></span></p>
        <p><strong>Level:</strong> <span id="quest-level"></span></p>
        <p><strong>Summary:</strong> <span id="quest-summary"></span></p>
        <p><strong>Giver:</strong> <span id="quest-giver"></span></p>
        <p><strong>Prerequisites:</strong> <span id="quest-prerequisites"></span></p>
        <p><strong>Rewards:</strong> <span id="quest-rewards"></span></p>
        <p><strong>Chapter:</strong> <span id="quest-chapter"></span></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const csrfToken = '{{ csrf_token('update_quest_status') }}'; // CSRF token for landmark update
    </script>
    <script src="{{ asset('js/quest.js') }}"></script>
{% endblock %}
