{% extends 'base.html.twig' %}

{% block title %}XC3 Checklist - Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block body %}
    <div class="progress-overview">
        <h1>Overall Progress</h1>
        <div class="progress-container">
            <div class="progress-bar"
                 style="width: {{ overallProgress|round(0, 'floor') }}%;"
                 id="progress-bar-overall"></div>
            <span class="progress-label">
                {{ overallProgress|number_format(0) }}% Complete
            </span>
        </div>
    </div>

    <div class="progress-sections-grid">
        {% set sections = [
            {'title': 'Character Classes', 'progress': classProgress, 'route': 'app_character_class'},
            {'title': 'Quests', 'progress': questProgress, 'route': 'app_quest'},
            {'title': 'Gems', 'progress': gemProgress, 'route': 'app_gem'},
            {'title': 'Soul Trees', 'progress': soulProgress, 'route': 'app_soul_tree'},
            {'title': 'Landmarks and Locations', 'progress': landmarkProgress, 'route': 'app_landmark_location'},
            {'title': 'Unique Monsters', 'progress': monsterProgress, 'route': 'app_unique_monster'},
            {'title': 'Challenge Mode', 'progress': challengeProgress, 'route': 'app_challenge_mode'},
            {'title': 'Gauntlet Emblems', 'progress': gauntletProgress, 'route': 'app_gauntlet_emblem'}
        ] %}

        {% for section in sections %}
            <a href="{{ path(section.route) }}" class="progress-card-link">
                <div class="progress-card">
                    <h2>{{ section.title }}</h2>
                    <div class="progress-container">
                        <div class="progress-bar"
                             style="width: {{ section.progress|round(0, 'floor') }}%;"></div>
                        <span class="progress-label">
                            {{ section.progress|number_format(0) }}% Complete
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
