{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Characters{% endblock %}
{% block body %}
    <h1>Characters</h1>

    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr class="character-row" data-id="{{ character.id }}" data-name="{{ character.name }}" data-class="{{ character.class.name }}" data-imgIndex="{{ character.imgIndex }}">
                <td>
                    <img src="{{ asset('img/characters/icon/icon_' ~ '%02d'|format(character.imgIndex) ~ '.png') }}" alt="{{ character.name }}">
                </td>
                <td>{{ character.name }}</td>
                <td>{{ character.class.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed character info -->
    <div id="character-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="character-name"></h2>
        <img src="" alt="" id="character-img" height="250px">
        <p><strong>Class:</strong> <span id="character-class"></span></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/character.js') }}"></script>
{% endblock %}
