{% extends 'base.html.twig' %}

{% block title %}XC3 Checklist - Gauntlet Emblems{% endblock %}
{% block body %}
<h1>Gauntlet Emblems</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Rarity</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {% for gauntletEmblem in gauntletEmblems %}
    {% set userGauntletEmblems = userGauntletEmblemMap[gauntletEmblem.id] ?? null %}
    <tr class="gauntlet-emblem-row"
        data-id="{{ gauntletEmblem.id }}"
        data-name="{{ gauntletEmblem.name }}"
        data-rarity="{{ gauntletEmblem.rarity }}"
        data-description="{{ gauntletEmblem.description }}"
        data-effects="{{ gauntletEmblem.effects }}"
        data-img-index="{{ gauntletEmblem.imgIndex }}">
        <td>{{ gauntletEmblem.name }}</td>
        <td>{{ gauntletEmblem.rarity }}</td>
        <td>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
