{% extends 'base.html.twig' %}

{% block title %}Gauntlet Emblems{% endblock %}

{% block body %}
    <h1>Gauntlet Emblems</h1>
    <div class="progress-container">
        <div class="progress-bar" style="width: {{ progress|round(0, 'floor') }}%;" id="progress-bar"></div>
        <span class="progress-label">{{ progress|number_format(0) }}% Complete</span>
    </div>
    <!-- Table with Image, Name, and Level -->
    <div class="table-container">

        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Checked</th>
            </tr>
            </thead>
            <tbody>
            {% for gauntletEmblem in gauntletEmblems %}
                {% set userGauntletEmblem = userGauntletEmblemMap[gauntletEmblem.id] ?? null %}
                <tr class="gauntlet-emblem-row"
                    data-id="{{ gauntletEmblem.id }}"
                    data-name="{{ gauntletEmblem.name }}"
                    data-rarity="{{ gauntletEmblem.rarity }}"
                    data-description="{{ gauntletEmblem.description }}"
                    data-effects="{{ gauntletEmblem.effects }}"
                    data-img-index="{{ gauntletEmblem.imgIndex }}">
                    <td><img src="{{ asset('img/gauntlet/' ~ gauntletEmblem.imgIndex ~ '.png') }}"
                             alt="{{ gauntletEmblem.name }}" width="50"></td>
                    <td>{{ gauntletEmblem.name }}</td>
                    <td>
                        <input type="checkbox"
                               class="gauntlet-emblem-checkbox"
                               data-id="{{ gauntletEmblem.id }}"
                                {% if userGauntletEmblem and userGauntletEmblem.isChecked %}
                                    checked
                                {% endif %}
                        >
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Card for displaying full gauntlet emblem details -->
    <div id="gauntlet-emblem-card" class="card" style="display: none;">
        <div class="card-header">
            <h2 id="gauntlet-emblem-name"></h2>
            <button id="close-card" class="close-btn">X</button>
        </div>
        <p><strong>Rarity:</strong> <span id="gauntlet-emblem-rarity"></span></p>
        <p><strong>Description:</strong> <span id="gauntlet-emblem-description"></span></p>
        <p><strong>Effects:</strong> <span id="gauntlet-emblem-effects"></span></p>
        <img id="gauntlet-emblem-img" src="" alt="Emblem Image" class="card-img">
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        const csrfToken = '{{ csrf_token('update_emblem_status') }}'; // Generate the CSRF token for the update_character_status route
    </script>
    <script src="{{ asset('js/gauntlet_emblem.js') }}"></script>
{% endblock %}