{% extends 'base.html.twig' %}

{% block title %}XC3 Checklist - Gauntlet Emblems{% endblock %}
{% block body %}
<h1>Gauntlet Emblems</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Rarity</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {% for gauntletEmblem in gauntletEmblems %}
    {% set userGauntletEmblems = userGauntletEmblemMap[gauntletEmblem.id] ?? null %}
    <tr class="gauntlet-emblem-row"
        data-id="{{ challengeMode.id }}"
        data-name="{{ challengeMode.name }}"
        data-difficulty="{{ challengeMode.difficulty }}"
        data-waves="{{ challengeMode.waves }}"
        data-level-restriction="{{ challengeMode.levelRestriction }}">
        <td>{{ challengeMode.name }}</td>
        <td>{{ challengeMode.difficulty }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
