{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Unique Monsters{% endblock %}

{% block body %}
    <h1>Unique Monsters</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Defeated</th>
            <th>SoulHacked</th>
            <th>Ability Upgraded</th>
        </tr>
        </thead>
        <tbody>
        {% for uniqueMonster in uniqueMonsters %}
            {% set userUniqueMonster = userUniqueMonsterMap[uniqueMonster.id] ?? null %}
            <tr class="unique-monster-row"
                data-id="{{ uniqueMonster.id }}"
                data-name="{{ uniqueMonster.name }}"
                data-area="{{ uniqueMonster.area.name }}"
                data-level="{{ uniqueMonster.level }}"
                data-location="{{ uniqueMonster.location }}"
                data-soulhacker-ability="{{ uniqueMonster.soulhackerAbility }}">
                <td>{{ uniqueMonster.name }}</td>
                <td>{{ uniqueMonster.level }}</td>
                {% set attributes = ['defeated', 'soulHacked', 'abilityUpgraded'] %}
                {% for attribute in attributes %}
                    <td>
                        <input type="checkbox"
                               class="unique-monster-checkbox"
                               data-attribute="{{ attribute }}"
                               data-id="{{ uniqueMonster.id }}"
                                {% if attribute == 'defeated' and userUniqueMonster.isDefeated %}
                                    checked
                                {% elseif attribute == 'soulHacked' and userUniqueMonster.isSoulHacked %}
                                    checked
                                {% elseif attribute == 'abilityU    pgraded' and userUniqueMonster.isAbilityUpgraded %}
                                    checked
                                {% endif %}
                               >
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed unique monster info -->
    <div id="unique-monster-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="unique-monster-name"></h2>
        <p><strong>Location:</strong> <span id="unique-monster-location"></span></p>
        <p><strong>Area:</strong> <span id="unique-monster-area"></span></p>
        <p><strong>Level:</strong> <span id="unique-monster-level"></span></p>
        <p><strong>Soulhacker Ability:</strong> <span id="unique-monster-soulhacker-ability"></span></p>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        const csrfToken = '{{ csrf_token('update_monster_status') }}'; // Generate the CSRF token for the update_character_status route
    </script>
    <script src="{{ asset('js/unique_monster.js') }}"></script>
{% endblock %}
