{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Arts{% endblock %}
{% block body %}
    <h1>Arts</h1>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for art in arts %}
                <tr class="art-row" data-id="{{ art.id }}" data-name="{{ art.name }}" data-class="{{ art.class.name }}"
                    data-type="{{ art.type }}" data-recharge-type="{{ art.rechargeType }}"
                    data-effect="{{ art.effect }}"
                    data-power-multiplier="{{ art.powerMultiplier }}" data-recharge="{{ art.recharge }}"
                    data-master-level="{{ art.masterLevel }}" data-imgIndex="{{ art.imgIndex }}">
                    <td>
                        <img src="{{ asset('img/arts/icon_arts2_' ~ art.imgIndex ~ '.png') }}" alt="{{ art.name }}">
                    </td>
                    <td>{{ art.name }}</td>
                    <td>{{ art.class.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Card for displaying detailed art info -->
    <div id="art-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="art-name"></h2>
        <img src="" alt="" id="art-img" height="250px">
        <p><strong>Type:</strong> <span id="art-type"></span></p>
        <p><strong>Effect:</strong> <span id="art-effect"></span></p>
        <p><strong>Power multiplier:</strong> <span id="art-power-multiplier"></span></p>
        <p><strong>Recharge type:</strong> <span id="art-recharge-type"></span></p>
        <p><strong>Recharge:</strong> <span id="art-recharge"></span></p>
        <p><strong>Master Level:</strong> <span id="art-master-level"></span></p>
        <p><strong>Class:</strong> <span id="art-class"></span></p>

    </div>
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/art.js') }}"></script>
    {% endblock %}
