{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Heroes{% endblock %}
{% block body %}
    <h1>Heroes</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for hero in heroes %}
                <tr class="hero-row" data-id="{{ hero.id }}" data-name="{{ hero.name }}"
                    data-class="{{ hero.class.name }}" data-imgIndex="{{ hero.imgIndex }}">
                    <td>
                        <img src="{{ asset('img/characters/icon/icon_' ~ '%02d'|format(hero.imgIndex) ~ '.png') }}"
                             alt="{{ hero.name }}">
                    </td>
                    <td>{{ hero.name }}</td>
                    <td>{{ hero.class.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Card for displaying detailed hero info -->
    <div id="hero-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="hero-name"></h2>
        <img src="" alt="" id="hero-img" height="250px">
        <p><strong>Class:</strong> <span id="hero-class"></span></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hero.js') }}"></script>
{% endblock %}
