{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Skills{% endblock %}
{% block body %}
    <h1>Skills</h1>

    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr class="skill-row" data-id="{{ skill.id }}" data-name="{{ skill.name }}" data-class="{{ skill.class.name }}" data-effect="{{ skill.effect }}" data-master-level="{{ skill.masterLevel }}" data-imgIndex="{{ skill.imgIndex }}">
                <td>
                    <img src="{{ asset('img/skills/icon_skill3_' ~ skill.imgIndex ~ '.png') }}" alt="{{ skill.name }}">
                </td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.class.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed skill info -->
    <div id="skill-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="skill-name"></h2>
        <img src="" alt="" id="skill-img" height="250px">
        <p><strong>Effect:</strong> <span id="skill-effect"></span></p>
        <p><strong>Master Level:</strong> <span id="skill-master-level"></span></p>
        <p><strong>Class:</strong> <span id="skill-class"></span></p>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/skill.js') }}"></script>
{% endblock %}
