<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Project Description">
    <meta name="keywords" content="HTML, CSS, Template">
    <meta name="author" content="Kriol368">
    <title>{% block title %}XC3 Checklist{% endblock %}</title>
    <link rel="stylesheet" {% block stylesheets %}href="{{ asset('css/style.css') }}"{% endblock %}>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
</head>
<body>
<header>
    <div class="header-content">
        <div class="nav-toggle">☰</div>
        <div class="logo">
            <h1>{% block page_name %}Xenoblade Chronicles 3 Checklist{% endblock %}</h1>
        </div>
        <div class="search" id="searchContainer">
            <input type="text" placeholder="Search... (Coming Soon)" disabled id="searchInput">
            <span id="searchToggle" class="search-icon">🔍</span>
        </div>
        <div class="auth-buttons">
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</header>


<nav id="sidebar">
    <ul>
        <li class="home">
            <a href="{{ path('app_home') }}"><span class="home-icon"></span>Home*</a>
        </li>
        <li class="food">
            <a href="{{ path('app_food') }}"><span class="food-icon"></span>Food</a>
        </li>
        <li class="art">
            <a href="{{ path('app_art') }}"><span class="art-icon"></span>Arts</a>
        </li>
        <li class="challenge_mode">
            <a href="{{ path('app_challenge_mode') }}"><span class="challenge-mode-icon"></span>Challenge Mode</a>
        </li>
        <li class="character">
            <a href="{{ path('app_character') }}"><span class="character-icon"></span>Characters</a>
        </li>
        <li class="character_class">
            <a href="{{ path('app_character_class') }}"><span class="character-class-icon"></span>Classes</a>
        </li>
        <li class="collectible">
            <a href="{{ path('app_collectible') }}"><span class="collectible-icon"></span>Collectibles</a>
        </li>
        <li class="endGameAccessory">
            <a href="{{ path('app_end_game_accessory') }}"><span class="end-game-accessory-icon"></span>Endgame Accessories</a>
        </li>
        <li class="gauntletEmblem">
            <a href="{{ path('app_gauntlet_emblem') }}"><span class="gauntlet-emblem-icon"></span>Gauntlet Emblems</a>
        </li>
        <li class="gem">
            <a href="{{ path('app_gem') }}"><span class="gem-icon"></span>Gems</a>
        </li>
        <li class="hero">
            <a href="{{ path('app_hero') }}"><span class="hero-icon"></span>Heroes</a>
        </li>
        <li class="landmarkLocation">
            <a href="{{ path('app_landmark_location') }}"><span class="landmark-icon"></span>Landmarks and Locations</a>
        </li>
        <li class="quest">
            <a href="{{ path('app_quest') }}"><span class="quest-icon"></span>Quests</a>
        </li>
        <li class="skill">
            <a href="{{ path('app_skill') }}"><span class="skill-icon"></span>Skills</a>
        </li>
        <li class="soulTree">
            <a href="{{ path('app_soul_tree') }}"><span class="soul-tree-icon"></span>Soul Trees</a>
        </li>
        <li class="uniqueMonster">
            <a href="{{ path('app_unique_monster') }}"><span class="unique-monster-icon"></span>Unique Monsters</a>
        </li>
    </ul>
</nav>


<main>
    {% block body %}
        <h2>Welcome to the content area!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui
            sagittis. In condimentum facilisis porta.</p>
        <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.
            Sed arcu. Cras consequat.</p>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
            Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
        <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique
            cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</p>
        <p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate,
            nunc.</p>
    {% endblock %}
</main>

<script src="{{ asset('js/script.js') }}"></script>
{% block javascripts %} {% endblock %}
</body>
</html>
