{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Collectibles{% endblock %}
{% block body %}
    <h1>Collectibles</h1>

    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for collectible in collectibles %}
            <tr class="collectible-row" data-id="{{ collectible.id }}" data-name="{{ collectible.name }}" data-rarity="{{ collectible.rarity }}" data-location="{{ collectible.location }}" data-imgIndex="{{ collectible.imgIndex }}">
                <td>
                    <img src="{{ asset('img/collectibles/icon_item_glow_g_' ~ collectible.imgIndex ~ '.png') }}" alt="{{ collectible.name }}">
                </td>
                <td>{{ collectible.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed collectible info -->
    <div id="collectible-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="collectible-name"></h2>
        <img src="" alt="" id="collectible-img" height="250px">
        <p><strong>Rarity:</strong> <span id="collectible-rarity"></span></p>
        <p><strong>Location:</strong> <span id="collectible-location"></span></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/collectible.js') }}"></script>
{% endblock %}
