{% extends 'base.html.twig' %}
{% block title %}XC3 Checklist - Landmarks / Locations{% endblock %}
{% block body %}
    <h1>Landmarks And Locations</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for landmarkLocation in landmarkLocations %}
            <tr class="landmark-location-row" data-id="{{ landmarkLocation.id }}" data-name="{{ landmarkLocation.name }}" data-type="{{ landmarkLocation.type }}" data-region="{{ landmarkLocation.region.name }}" data-area="{{ landmarkLocation.area.name }}">
                <td>{{ landmarkLocation.name }}</td>
                <td>{{ landmarkLocation.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Card for displaying detailed landmark and location info -->
    <div id="landmark-location-card" class="card" style="display: none;">
        <button id="close-card" class="close-btn">X</button>
        <h2 id="landmark-location-name"></h2>
        <p><strong>Type:</strong> <span id="landmark-location-type"></span></p>
        <p><strong>Area:</strong> <span id="landmark-location-area"></span></p>
        <p><strong>Region:</strong> <span id="landmark-location-region"></span></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/landmark_location.js') }}"></script>
{% endblock %}
